{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ posts.title }}{% endblock %}

{% block content %}

{% if user.is_authenticated and user == posts.author %}
  <a href="/blog/edit/{{ posts.id }}/" class="btn-primary">
    ✏️ Edit Post
  </a>
{% endif %}


<article class="post-detail">
  <h1>{{ posts.title }}</h1>

  <p class="date">
    Published {{ posts.publish|date:"F j, Y" }} · {{ posts.author }}
  </p>

  <div class="tags">
    {% for tag in posts.tags.all %}
      <span>#{{ tag.name }}</span>
    {% endfor %}
  </div>

  <div class="post-body">
    {{ posts.body|markdown }}
  </div>

  <div class="post-actions">
    <a href="{% url 'blog:post_share' posts.id %}" class="btn-share">
      <i class="fas fa-share-alt"></i> Share
    </a>

  </div>
</article>

<section class="comments-section">
  <h2>Comments ({{ comments.count }})</h2>

  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        {{ comment.name }} · {{ comment.created|date:"M d, Y" }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}

  {% include "blog/post/includes/comment_form.html" %}
</section>

<section class="similar-posts">
  <h3>Related Posts</h3>
  {% for post in similar_posts %}
    <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
  {% empty %}
    <p>No related posts.</p>
  {% endfor %}
</section>

<script>
const token = localStorage.getItem("access_token");

const publishBtn = document.getElementById("publishBtn");
if (publishBtn) {
  publishBtn.onclick = async () => {
    await fetch("/blog/api/posts/{{ posts.id }}/edit/", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "Authorization": "Bearer " + token
      },
      body: JSON.stringify({ status: "PB" })
    });
    location.reload();
  };
}
</script>

{% endblock %}
